article.style {
  overflow:   hidden;
  position:   relative;
}

.article-block {
  @include clearfix;
  border:  1px solid red;
  list-style-type: none;
  height:      20em;
  width:       100%;
  padding:     1em;
  margin:      .5em;
  float:       left;
  color:       #fff;
}

.article-block.block-small {
  width:       25%;
}
.article-block.block-medium {
  width:       35%;
}
.article-block.block-large {
  width:       45%;
}

.category-red {
  background:  linear-gradient($red,transparent);
}
.category-yellow {
  background:  linear-gradient($yellow,transparent);
}
.category-purple {
  background:  linear-gradient($purple,transparent);
}
.category-green {
  background:  linear-gradient($green,transparent);
}
.category-blue {
  background:  linear-gradient($blue,transparent);
}

.category-red :hover {
  background:  $red;
}
.category-yellow :hover {
  background:  $yellow;
}

.category-purple :hover {
  background:  $purple;
}
.category-green :hover {
  background:  $green;
}
.category-blue :hover {
  background:  $blue;
}

.article-block .date, .subject {
  margin:      0;
  font-size:   .9em;
}

.article-block .date{
  float:       right;
}

.article-block img {
  z-index:     -10;
  position:    absolute;
  width:       100%;
  height:      100%;
  top:         0px;

}


img{
  border:     none
}
