//variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #23CDFD;
$blue: #02fcf4;
$yellow: #FFE942;
$purple: #D054FC;
$red: #DD2B03;
$green: #03D364;
